 *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
 --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.15 0 264);
    --bg-light: oklch(0.2 0 264);
    --text: oklch(0.96 0 264);
    --text-muted: oklch(0.76 0 264);
    --highlight: oklch(0.5 0 264);
    --border: oklch(0.4 0 264);
    --border-muted: oklch(0.3 0 264);
    --primary: oklch(0.76 0.1 264);
    --secondary: oklch(0.76 0.1 84);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260); 
    --ff: "Montserrat", sans-serif;
}

body {
    background: var(--bg-dark);
    font-family: 'sk-modernist', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
  font-display: swap;
  font-family: 'sk-modernist';
  font-style: normal;

  src: url('../fonts/Sk-Modernist-Regular.otf') format('opentype');
}
.nav-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  margin-top: 40px;
}

.nav-wrapper{
    display: flex;
    justify-content: center;
   margin: 10px 0 30px;
}
@media(max-width: 764px){
    .nav-wrapper{
        margin: 0 auto;
    }
}

.nav-bar{
    position: fixed;
    display:flex;
    width: 40%;
    min-width: 350px;
    justify-content: space-between;
    align-items: center;
    padding: 3px 35px;
    border: 1px solid var(--highlight);
    border-radius: 8px;
    backdrop-filter: blur(25px) saturate(140%);
    z-index: 2;
    
}
.nav-bar a:hover{
    color: var(--text);
}

.mobile-nav-icon{
    display: none;
    position: fixed;
    left: 50px;
    z-index: 2;
    cursor: pointer;
    background: transparent;
    color: var(--text);
    border: none;
    padding: 20px;
}
.mobile-nav-icon i {
    font-size: 30px;
}


@media(max-width: 764px){
    .nav-bar{
        display: none;
    }
    .mobile-nav-icon{
        display: block;
    }
}

.mobile-nav-bar-modal{
    display: none;
    background: var(--bg-light);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    animation: slideInRight 0.4s ease-in-out;
    
}
.mobile-nav-head{
    display: flex;
    margin-top: 50px;
    color: var(--text-muted);
    align-items: center;
    padding: 20px 20px 5px;

}
.mobile-nav-head p{
    font-family: 'sk-modernist', sans-serif;
    font-family: 900;
    font-size: 18px;
}

.mobile-nav-items{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 10px;
    font-size: 44px;
    margin-bottom: 20px;
}
.mobile-nav-items a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s ease;
  font-weight: 900;
}
.mobile-nav-items a:hover{
    color: var(--text-muted);
}
.mobile-hr-spacer{
    border: none;
    margin: 0 auto;
    height: 1px;
    background: var(--border);
    width: 95%;  
}
.mobile-message-btn{
    position: absolute;
    right: 30px;
  bottom: 10%;

}
.mobile-nav-exit{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    transition: 0.3s ease;
}
.mobile-nav-exit:hover{
    color: var(--border-muted);
}

.mobile-nav-media{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    flex-wrap: wrap;
}
.mobile-nav-media a{
        color: var(--text-muted);
        font-weight: 100;
        text-decoration: none;
        font-size: 14px;
}

.nav-bar a {
    font-size:11px;
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s ease;
}


.nav-drop-down{
    position: relative;
    display:flex;
    align-items: center;  
}

.drop-down-btn{
    background: transparent;
    border: none; 
}

.drop-down-container{
    display: none;
    border-bottom: 1px solid var(--highlight);
    position: absolute;
    top: 100%;
    flex-direction: column;
    gap: 5px;
   padding: 15px 10px 10px 10px;
   background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(15, 15, 20, 0.85) 50%,
        rgba(20, 20, 30, 0.95) 100%
    );
}


.nav-drop-down:hover .drop-down-container{
    display: flex;
}
.drop-down-container:hover{
    display: flex;
}


#logo{
    height: 32px;
    width: 32px;
}


.head-text-container{
    margin: 40px auto 0 ;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.middle-text{
    font-size: 16px;
    color: var(--text-muted);
}

@media(max-width: 768px){
    .head-text-container{
        width: 100%;
    }
    .middle-text{  
        font-size: 14px;
    }
}
.head-text-btn{
    margin-top: 20px;
    font-size: 14px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head-text-btn a{
    text-decoration: none;
    color: var(--text);
}

.head-text-btn:hover{
    cursor: pointer;
    color: var(--text-muted);
    transition: all 0.3s ease;
    transform: scale(1.05);
    transform-box: fill-box;
}

.gallery-wrapper{
  display: flex;
  justify-content: center;
  padding: 40px 0;
    width: 100%;   
}

.gallery-grid{
    width: min(1100px, 70%);
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: 250px;
    gap: 5px;
}
@media(max-width: 768px){
    .gallery-grid{
        width: 100%;
    }
}

.gallery-item{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.gallery-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-grid > :nth-child(1){
grid-column: 1/ span 3;
grid-row: 1/ span 2;
}

.gallery-grid > :nth-child(2){
    grid-column: 4/ span 3;
    grid-row: 1/ span 1;
}

.gallery-grid > :nth-child(3){
    grid-column: 4/ span 3;
    grid-row: 2/ span 1;
}

.gallery-grid > :nth-child(4){
    grid-column: 1/ span 2;
    grid-row: 3/ span 1;
}

.gallery-grid >:nth-child(5){
    grid-column: 3/ span 2;
    grid-row: 3/ span 1;
}
.gallery-grid >:nth-child(6){
    grid-column: 5/ span 2;
    grid-row: 3/ span 1;
}


.photo-gallery{
    width: min(1100px, 70%);
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 450px;

}

.spacer{
    background: linear-gradient(to bottom, var(--bg-dark), rgba(94, 91, 91, 0.5));
    border-bottom: 2px solid var(--border-light);
   
}

.spacer-container{
    position: relative;
     display: flex;
    color: var(--text);
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 100;
    font-size: 14px;
padding: 20px; 
flex-wrap: wrap;  
flex-direction: column; 
}
.spacer-container svg:hover{
   cursor: pointer;
    color: var(--text-muted);
    transition: all 0.3s ease;
    transform: scale(1.05);
    transform-box: fill-box;
}
.spacer-item{
    display: flex;
    gap: 10px;
}

.spacer-btn{
    background: none;
   border: none;
   color: var(--text);
   font-size: 14px;
   cursor: pointer;
   text-transform: uppercase;
}

.spacer-btn:hover{
    cursor: pointer;
    color: var(--text-muted);
    transition: all 0.3s ease;
    transform: scale(1.05);
    transform-box: fill-box;
   
}

.photographers-modal {
    display: none;
    -webkit-animation-name: slideInRight;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInRight;
    animation-duration: 0.4s;
}

/* gdy dodamy klasę "show-modal", modal ma się pokazać (nadpisuje display:none) */
.photographers-modal.show-modal {
    display: flex;
}

.photographers-modal a{
    color: var(--text-muted);
    text-decoration: none;
}
.photographers-modal a:hover{
    color: var(--text);
    transition: all 0.3s ease;
}

.exit-btn{

cursor: pointer;
position:absolute;
top: 0;
right: 30px;
font-size: 15px;

}



/* photoGallery*/


.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-wrap: nowrap;
    gap: 1%;
    overflow: hidden;
  }
  
  .column {
    width: 32%;
    will-change: transform;
    display: flex;
    flex-direction: column;
  }
  
  .column .item {
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
  }
 
  
  .column .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all 0.3s ease;;
  }
  .column .item img:hover{
    transform: scale(1.05);
  
  }


  /* RECRUITMENT */
  

.video-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video{
    width: 60%;
    height: 60vh;
}
@media(max-width: 768px){
    .video{
        width: 100%;
        height: 50vh;
    }
}
.video iframe{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.recruitment-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.recruitment-text{
    width: 60%;
    font-size: 16px;
     
}

.wizzard-gif{
    float: left;
    height: 60px;
    width: 140px;
}
#wizzard-text{
    
   text-align: center;
    font-size: 24px;
    line-height: 2em;
    padding: 20px;
}
.recru-text-item{
    padding: 10px;
    color: var(--text-muted);
}


.show-mobile-nav-modal{
    display: block;
}